/*SHARED*/
.container {
    margin: auto;
}

.container__flex {
    display: flex;
    gap: 30px;
    height: 100%;
}

.container__flex-wrap, .container__flex-line {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
}
.container__flex-line:hover{
    opacity: 0.3;
}

.container__desc-80 {
    width: 80%;
}

.container__desc-70 {
    width: 70%;
}

.container__desc-60 {
    width: 60%;
}

.container__desc-50 {
    width: 50%;
}

.container__desc-40 {
    width: 40%;
}

.container__desc-30 {
    width: 33%;
}

img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    margin: auto;
}

.border {
    border: 1px solid var(--black) !important;
}

.border-b {
    border-bottom: 1px solid var(--black) !important;
}

.border-t {
    border-top: 1px solid var(--black) !important;
}

.border-r {
    border-right: 1px solid var(--black) !important;
}

.border-l {
    border-left: 1px solid var(--black) !important;
}

.padding-05rem {
    padding: .5rem;
}

.padding-1rem {
    padding: 1rem;
}

.margin-1rem {
    margin: 1rem;
}

.margin-1rem-t {
    margin-top: 1rem;
}

.margin-1rem-b {
    margin-bottom: 1rem;
}

.margin-1rem-l {
    margin-left: 1rem;
}

.margin-1rem-r {
    margin-right: 1rem;
}

.margin-2rem-b {
    margin-bottom: 2rem;
}

.margin-2rem-t {
    margin-top: 2rem;
}

.margin-5rem-t {
    margin-top: 5rem;
}

.margin-5rem-b {
    margin-bottom: 5rem;
}


.button-paragraph {
    margin: 2rem 0;
}

.truncate-overflow {
    --max-lines: 8;
    max-height: calc(1.4rem * var(--max-lines));
    overflow: hidden;
  }
 

@media (max-width: 576px) {
    .container__flex {
        flex-direction: column;
    }

    .container__desc-80 {
        width: 90%;
        margin: 0 5%;
    }

    .container__desc-70 {
        width: 90%;
        margin: 0 5%;
    }

    .container__desc-60 {
        width: 90%;
        margin: 0 5%;
    }

    .container__desc-50 {
        width: 90%;
        margin: 0 5%;
    }

    .container__desc-40 {
        width: 90%;
        margin: 0 5%;
    }

    .container__desc-30 {
        width: 90%;
        margin: 0 5%;
    }
}
