
.header>.menu {
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
    position: fixed;
    right:0;
}

.menu a img {
    height: 2rem;
    margin: .5rem .9rem 0;
}

.menu>.menu_projects {
    text-transform: uppercase;
    padding: .7rem;
    color: var(--black);
}
.menu>.menu_projects_home {
    text-transform: uppercase;
    padding: .7rem;
    color: var(--white);
    background: var(--black);
}


.menu a:hover {
    color: var(--white);
    background: var(--black);
}

.header__title {
    display: flex;
    width: 100%;
    height: 300px;
    text-align: center;
    align-items: center;
    background: mistyrose;
}

.header__title>.subtitle {
    font-size: 0.8rem;
    text-align: right;
    margin-left: 2rem;
    margin-top: .7rem;
}

footer {
    display: flex;
    padding: .5rem;
    border-top: 1px solid var(--black);
    color: var(--white);
    background-color: var(--black);
    justify-content: space-between;
    flex-shrink: 0;
}
footer  img {
    height: 25px;
    width: 25px;
}

@media (max-width: 576px) {
    .header__title {
        flex-direction: column;
    }
}
