:root {
  --primary: #faa307;
  --primary-variant: #b388eb;
  --secondary: #ebff7b;
  --background: #f6f7ff;
  --black: #0B0C0E;
  --white: #ffffff;
  --gray: #C7D0D9;
  --gray-variant: #8e9aaf;
}

/* text */
.primary-text {
  color: var(--primary) !important;
}

.primary-text-light {
  color: var(--primary-variant) !important;
}

.secondary-text {
  color: var(--secondary) !important;
}

.gray-text {
  color: var(--gray-variant) !important;
}

.white-text {
  color: var(--white) !important;
}

.black-text {
  color: var(--black) !important;
}

/* background */
.primary-background {
  background: var(--primary) !important;
}

.primary-variant-background {
  background: var(--primary-variant) !important;
}

.secondary-background {
  background: var(--secondary) !important;
}

.gray-background {
  background: var(--gray) !important;
}

.white-background {
  background: var(--white) !important;
}

.black-background {
  background: var(--black) !important;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  margin: auto;
  background: var(--white);
  color: var(--black);
  height: 100%;
  display: flex;
  flex-direction: column;
}

section {
  max-width: 1120px;
  margin: auto;
}

h1 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 4.5rem;
  line-height: .4rem;
  letter-spacing: -1.5px;
}

h2 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 3rem;
  letter-spacing: -0.015em;
  margin: 0;
}

h3 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 1.3rem;
  line-height: 2rem;
  margin: 0;
}

p,
ul>li {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: .9rem;
  letter-spacing: 0.03125rem;
  line-height: 140%;
  margin: 0;
}

p {
  margin-bottom: 1rem;
}

.label {
  font-family: 'Montserrat';
  font-style: normal;
  font-size: 1rem;
  line-height: 150%;
  letter-spacing: -0.015em;
}

.title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 5rem;
  letter-spacing: -0.015em;
  flex-grow: 2;
}

.primary-shadow {
  text-shadow: -3px 0 var(--gray) !important;
}

.primary-variant-shadow {
  text-shadow: -5px 0 var(--primary-variant) !important;
}

/* *:not(.header__title)>.title:hover {
  color: var(--primary);
} */

a {
  text-decoration: none;
  color: var(--primary);
}

.button {
  color: var(--black);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.04em;
  background: var(--background);
  padding: 1rem;
}

.button-border {
  text-transform: uppercase;
  border: 1px solid var(--gray);
  color: var(--gray);
}

.button-borderless {
  text-transform: uppercase;
}

@media (max-width: 576px) {
  body {
    max-width: 100%;
  }

  h1 {
    font-size: 2.5rem;
    line-height: 2rem;
  }

  h2 {
    font-size: 2rem;
    line-height: 2.5rem;
  }

  .title {
    font-size: 4.5rem;
    line-height: 110%;
  }

}
