
// Color
// ––––––––––––––––––––––––––––––––––––––––––––––––––

$color-white: #fff !default;
$color-light: #e1e1e1 !default;
$color-blue: #101357 !default;
$color-yellow: #fbaf08 !default;
$color-light-blue: #00a0a0 !default;
$color-green: #007f4f !default;
$color-red: #ff5e6c !default;
$color-black: #212135 !default;
$color-grey: #4a5968 !default;
 
.background-yellow {background-color: $color-yellow;}
.background-white {background-color: $color-white;}
.background-blue {background-color: $color-blue;}
.background-light-blue {background-color: $color-light-blue;}
.background-green {background-color: $color-green;}
.background-red {background-color: $color-red;}