* {
  box-sizing: border-box;
}

body {
  margin: auto;
  font-family: 'Roboto', sans-serif;
  background-color: #f2e6d6;
  color: #273e47;
}

.container .wrapper {
  padding: 2rem;
}
.container .wrapper-yellow {
  color: #e5ddc8;
  background-color: #01949a;
}

.container .inverse {
  color: #e5ddc8;
  background-color: #004369;
}

.project-number {
  margin: 30% 0 0;
  color: #e5ddc8;
}
.project-number .text-block-2 {
  line-height: 4rem;
  font-size: 5rem;
  font-weight: 700;
}
.project-number .text-sift {
  margin-left: 3rem;
}

.desc {
  width: 60%;
}
.desc p > img {
  height: 2rem;
}

a:hover {
  color: #e5ddc8;
  text-decoration: none;
}


/* Responsive layout */
@media screen and (max-width: 900px) {
  .desc {
    width: 100%;
  }
}
 