.background-yellow {
  background-color: #fbaf08;
}
.background-white {
  background-color: #fff;
}
.background-blue {
  background-color: #101357;
}
.background-light-blue {
  background-color: #00a0a0;
}
.background-green {
  background-color: #007f4f;
}
.background-red {
  background-color: #ff5e6c;
}
.background-black {
  background-color: #212135;
}
* {
  box-sizing: border-box;
}
body {
  margin: auto;
  font-weight: 400;
  font-size: 1.3rem;
}
.menu {
  position: fixed;
  display: flex;
  flex-direction: row-reverse;
  top: 0;
  right: 0;
  color: #212135;
  z-index: 9999;
  width: 100%;
}
.menu .button {
  padding: 0.7rem;
  margin: 0.5rem;
  border: 2px solid #fff;
  border-radius: 2rem;
  font-family: Lato, sans-serif;
  color: #fff;
  font-weight: 600;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  align-self: center;
  font-size: 0.8rem;
}
.menu-dark {
  background-color: #212135;
}
.container .wrapper {
  padding: 2rem;
}
.container .wrapper-yellow {
  color: #fff;
  display: flex;
  background: url(../img/stars.svg)  repeat, #fbaf08;
  opacity: 0.9;
}
.container .inverse {
  color: #fff;
  background: url(../img/stars.svg)  repeat, #212135;
}
.container .inverse .uk-heading-bullet {
  color: #fff;
}
.container .footer {
  background: #4a5968;
  display: flex;
  flex-direction: row-reverse;
  color: #fff;
}
.desc {
  margin: auto;
  width: 60%;
}
.desc p > img {
  height: 4rem;
}
.grid-collapse {
  max-width: 1200px;
  margin: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.links {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}
.button,
a:hover {
  color: #fff;
  text-decoration: none;
}
.button {
  display: inline;
  padding: 1rem;
  margin: 1rem;
  border: 3px solid #fff;
  border-radius: 2rem;
  font-family: Lato, sans-serif;
  font-weight: 700;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  align-self: center;
  font-size: 1rem;
}
.button-small {
  display: inline;
  padding: .4rem;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 2rem;
  font-family: Lato, sans-serif;
  font-weight: 700;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  align-self: center;
  font-size: 1rem;
}
.project-number {
  margin: 30% 0 0;
}
.project-number .text-block-2 {
  font-family: Rasa, sans-serif;
  color: #212135;
  line-height: 4rem;
  font-size: 5rem;
  font-weight: 700;
}
.project-number .text-sift {
  color: #e1e1e1;
  margin-left: 3rem;
}
@media screen and (max-width: 900px) {
  .desc {
    width: 100%;
  }
}
