* {
  box-sizing: border-box;
}

body {
  margin: auto;
  background-color: #fff;
  color: #777;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.container .wrapper {
  padding: 2rem;
  margin: auto;
}
.restrict {
  max-width: 900px;
  text-align: center;
} 

.wrapper h2{
  text-align: center;
}

.wrapper-img {
  background-image:
  linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(253,187,45,0) 50%),
  url("../img/UnfxFYFx.png");
  background-size: cover;
  color: #e5ddc8;
}

.wrapper-img .project-number {
  margin: 10% 20% 20%;
}
.wrapper-img .project-number {
  line-height: 4rem;
  font-family: 'Roboto', sans-serif;
  font-size: 5rem;
  font-weight: 700;
}

.wrapper-img .project-number a, a:hover {
  color: #e5ddc8;
  text-decoration: none;
}


.pure-g .pure-u-1-3{
  background: #fafafa;
  padding: 1rem;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  font-family: 'Roboto', sans-serif;
}

/* Responsive layout */
@media screen and (max-width: 900px) {
  .wrapper-img .project-number  {
    margin: 15% 0 15%;
    font-size: 4rem;
    line-height: 3rem;
  }
  .restrict {
    max-width: none;
  } 
}
 