@import "color.scss";

* {
  box-sizing: border-box;
}

body {
  margin: auto;
  font-weight: 400;
  font-size: 1.3rem;
}

.menu{
  position: fixed;
  display:flex;
  flex-direction: row-reverse;
  top: 0;
  right: 0;
  color: $color-black;
  z-index: 9999;
  width: 100%;
  .button {
    padding: .7rem;
    margin: .5rem;
    border: 2px solid $color-white;
    border-radius: 2rem;
    font-family: Lato, sans-serif;
    color: $color-white;
    font-weight: 600;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    align-self: center;
    font-size: .8rem;
  }
}
.menu-dark {
  opacity: .5;
  background-color: $color-black;
}
.container {
  .wrapper {
    padding: 2rem;
  }
  .wrapper-yellow {
    color: $color-white;
    display: flex;
    background: url(../img/stars.svg) repeat, $color-yellow;
    opacity: 0.9;
  }
  .inverse {
    color: $color-white;
    background: url(../img/stars.svg) repeat, $color-black;
    .uk-heading-bullet{
      color: $color-white;
    }
 
  }
  .footer {
    background: $color-grey;
    display: flex;
    flex-direction: row-reverse;
    color: $color-white;
  }
}

.desc {
  margin: auto;
  width: 60%;
  p > img {
    height: 4rem;
  }
}

 
.grid-collapse {
  max-width: 1200px;
  margin: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

 
.links {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

a:hover {
  color: $color-white;
  text-decoration: none;
}
.button {
  display: inline;
  padding: 1rem;
  margin: 1rem;
  border: 3px solid $color-white;
  border-radius: 2rem;
  font-family: Lato, sans-serif;
  color: $color-white;
  font-weight: 700;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  align-self: center;
  font-size: 1rem;
}

 
.project-number {
  margin: 30% 0 0;
  .text-block-2 {
    font-family: Rasa, sans-serif;
    color: $color-black;
    line-height: 4rem;
    font-size: 5rem;
    font-weight: 700;
  }
  .text-sift {
    color: $color-light;
    margin-left: 3rem;
  }
}
 

/* Responsive layout */
@media screen and (max-width: 900px) {
 
 
  .desc {
    width: 100%
  }
}
