.animation{
  position: relative;  
}

.cloud-container{
  display: block;
  position: absolute;  
}


.cloud {
  background: #BDA1B8;
  width: 90px;
  height: 48px; 
  position: absolute;
  animation: clouds 40s infinite;
}

.cloud:before {
  border-radius: 50%;
  box-shadow: 20px -20px 0 0 #BDA1B8,
  90px 0 0 0 #BDA1B8,
  60px -27px 0 8px #BDA1B8;
  content: "";
  margin-left: -22px;
  position: absolute;
  width: 48px;
  height: 48px;
  background: #BDA1B8;
}

.cloud:nth-child(1){ bottom: 20px; opacity: 0.85}
.cloud:nth-child(2){ bottom: 20vw; left: 5vw; opacity: 0.5}


.moon {
  height: 25vw;
  width: 25vw;
  opacity: .5;
  background: #ababab;
  border-radius: 50%;
  box-shadow: 0 0 60px 1px #444444;
}

.moon:before {
    border-radius: 60px;
    box-shadow: 10px -50px 0 0 #444,
                50px 0 0 0 #444,
                50px -37px 0 10px #444;
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    left: 20%;;
    top: 40%;
    background: #444;
}



@keyframes clouds {
  0% {
    margin-left:0;
  }
  25% {
    margin-left:100px;
  }
  50% {
    margin-left:0;
  }
  75% {
    margin-left:30px;
  }  
  100% {
    margin-left: 0;
  }
}
