.wrapper {
  display   : flex;
  min-height: 800px;
  height    : auto;
}

.left-pane {
  width  : 50%;
  padding: 1rem;
}

.right-pane {
  width     : 50%;
  opacity   : .8;
  background: url(../img/stars.svg) repeat, var(--surface-color);
}

.desc {
  padding    : 1rem;
  line-height: 25px;
  margin-left: 15%;
  font-family: 'Inter', sans-serif;
  font-style : normal;
  font-weight: 100;
  font-size  : 1.2rem;
  line-height: 133%;
}

.inverse {
  color       : var(--background-color) !important;
  margin-right: 15%;
}

.project-number {
  display      : inline-block;
  margin-right : 21px;
  padding-right: 0px;
  font-family  : Rasa, sans-serif;
  text-align   : right;
}

.text-block {
  position : relative;
  left     : 40px;
  bottom   : -115px;
  z-index  : 7;
  color    : var(--secondary);
  font-size: 62px;
}

.text-block-2 {
  position   : relative;
  z-index    : 4;
  opacity    : 0.21;
  color      : var(--primary);
  font-size  : 98px;
  font-weight: 700;
}


.title {
  padding: 9rem;
}

.title>.text-block-2 {
  color    : var(--background-color);
  font-size: 9rem;
  opacity  : 0.71;
}

.title>.text-block {
  color  : var(--primary-variant);
  bottom : -155px;
  left   : 40px;
  opacity: 1;
}

.project-examples>img {
  border-radius: 5px;
  margin       : 1rem;
  width        : 50%
}


#id1:before {
  content      : '';
  width        : 31vw;
  height       : 31vw;
  background   : linear-gradient(to bottom right, var(--primary), var(--surface-color));
  border-radius: 50%;
  position     : absolute;
  left         : 51%;
}


#whoami-clip>svg {
  mix-blend-mode: luminosity;
}


.container__works--image-box>img {
  border-radius: 4px;
  width        : calc(50%);
}


/* Responsive layout */
@media screen and (max-width: 700px) {
  .wrapper {
    flex-direction: column-reverse;
  }

  .left-pane {
    width: 100%;
  }

  .right-pane {
    width: 100%;
  }

  #id3:before,
  #id1:before {
    content      : '';
    width        : 50vw;
    height       : 50vw;
    background   : linear-gradient(to bottom right, var(--primary), var(--surface-color));
    border-radius: 50%;
    position     : absolute;
    left         : 5%;
    top          : 5%;
  }
}
