* {
  box-sizing: border-box;
}

body {
  font-family: 'MaisonNeue', sans-serif;
  margin: 0;
  background-color: white;
  height: 100%;
}

/*.container{
  max-height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(500px);
  scroll-snap-type: y mandatory;
} */

.wrapper{
  display: flex;
  min-height: 500px;
  height: auto;
  scroll-snap-align: start;
}

.left-pane {
  width: 50%;
}

.right-pane {
  width: 50%;
  opacity: .8;
  background: url(../img/stars.svg) repeat, #212135;
}

.desc {
  padding: 40px;
  font-family: courier new, courier, monospace;
  font-weight: 400;
  line-height: 25px;
}
 
.inverse{
  color: white !important;
}

.y-margin{
  margin-top: 100px;
}

.links {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.name {
  font-size: 30px;
  text-transform: uppercase;
  margin: 10px;
}

.project-number {
  display: inline-block;
  margin-right: 21px;
  padding-right: 0px;
}

.text-block {
  position: relative;
  left: 70px;
  bottom: -115px;
  z-index: 7;
  display: inline-block;
  font-family: Rasa, sans-serif;
  color: #4a5968;
  font-size: 62px;
  text-align: right;
}

.text-block-2 {
  position: relative;
  z-index: 4;
  opacity: 0.21;
  font-family: Rasa, sans-serif;
  color: salmon;
  font-size: 98px;
  font-weight: 700;
  text-align: right;
}

.right {
  float: right;
}

.whoami{
  /* writing-mode: vertical-lr; */
  font-weight: 700;
  font-family: "MaisonNeue, sans-serif";
  font-size: 8rem;
  width: 13vw;
  height: 13vw;
  padding: 5px;
}


.button {
  display: inline;
  padding: 15px;
  margin: 10px 30px;
  border: 3px solid #4a5968;
  border-radius: 50px;
  font-family: Lato, sans-serif;
  color: #4a5968;
  font-weight: 700;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  align-self: center;
  font-size: 16px;
}

.fas.fa-download{
  display: none;
}


.circle-big {
  width: 35vw;
  height: 35vw;
  position: absolute;
  background:  linear-gradient(to bottom right, #ff9595, rgba(0, 0, 0, 0));
  z-index: -100;
  left: 25%;
  border-radius: 50%;
  top: 5px;
  animation: move 5.5s infinite;
  animation-direction: alternate-reverse;
  animation-timing-function: linear;
}

.circle-small {
  width: 25vw;
  height: 25vw;
  position: absolute;
  opacity: .4; 
  background: linear-gradient(to bottom right, #a58c8c, rgba(0, 0, 0, 0));
  z-index: -200;
  left: 15%;
  border-radius: 50%;
  top: 30px;
  box-shadow: inset -1px 4px 13px 0px #6b3446;
  animation: move 7.5s infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

#id3:before {
  content: '';
  width: 25vw;
  height: 25vw;
  background: linear-gradient(to bottom right, #a58c8c, rgba(0, 0, 0, 0));
  border-radius: 50%;
  position: absolute;
  left: 45%;
}

#sky-clip:before {
  content: '';
  width: 35vw;
  height: 35vw;
  background: linear-gradient(to bottom right, #ff9595, rgba(0, 0, 0, 0));
  border-radius: 50%;
  position: absolute;
  animation: changeBg 1.5s infinite;
  animation-direction: alternate-reverse;
  animation-timing-function: linear;
}

svg{
  mix-blend-mode: luminosity;
}



@media screen and (max-width: 1100px) {

  .download-files {
    display: flex;
    flex-direction: column;
  }

}
/* Responsive layout - when the screen is less than 900px wide */
@media screen and (max-width: 700px) {
  .row {
    flex-direction: column;
  }

  .button-text {
    display: none;
  }

  .fas.fa-download{
    display: inline;
  }
}
@keyframes move {
  0% {
      transform: translateY(0px);
  }
  100% {
      transform: translateY(20%);
  }
}
@keyframes changeBg {
  0% {
      background: linear-gradient(to bottom right, rgba(236, 49, 27, 0.49), rgba(0, 0, 0, 0));
  }
  100% {
      background: linear-gradient(to bottom right, rgba(236, 27, 85, 0.49), rgba(0, 0, 0, 0));
  }

}

